body {
	margin:0px;
}

.title {
	width: 100%;
	text-align: center;
	margin-bottom: 0.5em;
	/*color: orange;*/
}

.header {
	border-bottom: 5px double orange;
	position: sticky;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

.selected {
	background-color: white;
}

.footer {
	border-top: 5px double orange;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	/*background-color: orange;
	position: fixed;
	bottom: 0px;*/
}

.article {
}

.article:hover {
	box-shadow: 0 0.1em 0.2em #2c3220;
}

.titleimage {
	display: block;
	height: 200px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.exit {
	position: absolute;
	right: 50px;
	justify-content: right;
	padding: 10px;
}

.exit:hover {
	box-shadow: 0 0.1em 0.2em #2c3220;
}

.grid {
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: auto auto auto;
	margin: 20px;
	margin-bottom: 70px;
}

img {
	width:100%;
}

figcaption {
	text-align: center;
}

#snow, #opportunity {
	display: none;
	flex-direction: column;
	margin: 2em;
	padding: 2em;
	box-shadow: 0 0.1em 0.2em #2c3220;
}

.left {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1em;
	margin-bottom: 1em;
}

.right {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 1em;
	margin-bottom: 1em;
}

.author, .info, .date, .title {
	font-weight: bold;
}

.body {
	padding-top: 14px;
	padding-bottom: 7px;
}

.portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 20rem;
	width: auto;
}

.landscape {

}

.duo {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1em;
}

.quad {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 1em;
}

.image4 {
	grid-column: 1 / 4;
}

@media only screen and (max-width: 1000px) {
	.grid {
		grid-template-columns: auto auto;
	}

	.portrait {
		height: 15em;
	}

	.image4 {
		grid-column: 2 / 3;
	}

	.quad {
		grid-template-columns: auto auto;
	}

}
@media only screen and (max-width: 800px) {
	.grid {
		grid-template-columns: auto;
	}

	.portrait {
		height: 10em;
	}

	.titleimage {
		width: 75%;
		height: auto;
	}
}

@media only screen and (max-width: 650px) {
	.duo {
		grid-template-columns: auto;
	}
	.portrait {
		width: 100%;
		height: auto;
	}
	.image4 {
		grid-column: 1 / 2;
	}
	.quad {
		grid-template-columns: auto;
	}
}
